* {
  font-family: century gothic;
}
body {
  background: rgb(13, 7, 46);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
#container {
  color: antiquewhite;
}
.digit {
  font-size: 7rem;
  font-weight: bold;
  color: blueviolet;
}
.txt {
  font-size: 2rem;
  font-weight: bold;
}

#btn-container {
  text-align: center;
  margin-top: 40px;
}
.btn {
  padding: 9px 25px;
  font-size: 16px;
  margin: 0px 15px;
  outline: none;
  border: none;
  border-radius: 25px;
  font-weight: bold;
  background: #f24aa2;
  color: whitesmoke;
  cursor: pointer;
}
